.swiper-slide {
    box-shadow: none;
    border: 1px solid #ebeaea;
}
.swiper-button-prev,
.swiper-button-next {
    color: #6b8e7e;
}

.swiper-pagination-bullet-active {
    background: #6b8e7e;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}