@import "font.css";
@import "base.css";
@import "typography.css";
@import "header.css";
@import "footer.css";
@import "main.css";

.header{
    background-color: rgb(181, 221, 248);
    color: rgb(196, 84, 190);
} 
.footer{
    background-color: rgb(255, 238, 218);
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("ttf");
    font-weight: normal;
}

body{
    font-family: "Roboto";
}